## Corpus Linguistics
### LING3038/6038
### Welcome to R

Let's get coding.

The text after a # is a comment and doesn't do anything, just gives information

text that does not follow a # is a command

In [ ]:
#comment: you can run simple calculator-style commands in R
5+6

A variable stands in for a value. You assign a value to a variable. The variable is then an "object" in R and you can use it later in your commands.

In [ ]:
x<- 5+6
x

In [ ]:
y<-x+6
y

In [ ]:
z<-x+y

Assigning a variable does not call it (print it/make it do something). You need to write z if you want to see the value of z.

In [ ]:
z

Now you try.

In [ ]:
#multiple z by 2 (use *)

In [ ]:
#subract 3 from y

In [ ]:
#divide z by 4

In [ ]:
#use () around your variable assignment to return the answer and save the variable
(ans<-6*77)

We are doing corpus linguistics, so we need to work with text.

In [ ]:
#you can also assign text values
phrase<-"once upon a time there were three bears"
phrase

In [ ]:
#you can assign lists (and more complex objects)
#the format c() is important as is the , and "" when it's text. spaces aren't important
shopping<-c("apples","soy sauce", "noodles",    "mince")
chores<-c("taxes","clean sink","water plants")

shopping
chores

In [ ]:
#Fix this code:

MON_routine<-("skin care","vitamins", "affirmations")
TUE_routine< c("skin care","walk dog","yoga")
WED_routine<-c("eat yogurt" "meditate"   "brush dog")
THU_routine<-c(drink tea, take vitamins, meditate)

MON_routine
TUE_routine
WED_routine
THU_Routine

In [ ]:
#you can also make a data frame, another class of object (we will work a lot with these)
todos<-data.frame(shopping,chores) #note we need the same number of rows in a data frame so this code will produce an error

In [ ]:
chores2<-c("taxes","clean sink","water plants","write essay")
todos2<-data.frame(shopping, chores2)

todos2

In [ ]:
#Remember that all of these variables are 'objects' for R
#let's see our objects so far
objects()

In [ ]:
#you can run a function on an object
#a function is recognizable by its ()
print(phrase)  #in R you can print a string just by calling the object, you don't actually need to use the function print()

sqrt(z)

In [ ]:
#you can run multiple functions at once
print(toupper(phrase))

In [ ]:
#functions do not change variables
phrase

#if you want to save the result of a function, it needs to be assigned to its own object
PHRASE<-toupper(phrase)

PHRASE

## Packages

R has many functions built-in, but you can also install and load a package to have more functions for specific purposes

In [ ]:
#install packages
install.packages(c("tokenizers","data.table"))

In [ ]:
#{tokenizers} has a functions like tokenize_words() to seprate out words into tokens from a string and tokenize_characters() to seprate out characters from strings
library(tokenizers) #load the package

tokenize_words(phrase)
tokenize_characters(PHRASE)

In [ ]:
#{data.table} makes nice tables and we will use it a lot in this course. data.tables are better than dataframes, so let's make one out of our lists

library(data.table)  #load the package
todos<-as.data.table(todos)

todos2

In [ ]:
#melt() is a very helpful function in data.table that we will be using later on in the course
#melt() restructures your data 

weekend.list<-melt(todos, measure.vars = c(1:2),              #note, the measure.vars are the columns
               variable.name = "task.type", value.name = "tasks")

weekend.list

In [ ]:
#measure variables can be referred to with numbers (as above) or with names (as below)

(friday.list<-melt(todos, measure.vars = c("shopping","chores2"),             
                 variable.name = "task.type", value.name = "tasks"))

In a dataframe (or data.table) each column, row and cell has a number. you can refer to them with this number

In [ ]:
#columns
weekend.list[,1]

In [ ]:
weekend.list[,2]

weekend.list[,3]

In [ ]:
#rows
weekend.list[1,]

In [ ]:
weekend.list[7,]

In [ ]:
#cells
weekend.list[4,2]

Write some code yourself to find specific values

In [ ]:
#Write code to print the cell that has the value "clean sink"

In [ ]:
#Write code to find the value of the cell in second row of the first column

As a note: usually columns have names (like "tasks" in our data.table) but often rows don't